<div fxFlexOffset="15" fxFlex="70" fxLayout="column">
    <mat-list>
        <mat-list-item>First name: {{employee.firstName}}</mat-list-item>
        <mat-list-item>Last name: {{employee.lastName}}</mat-list-item>
        <mat-list-item>Gender: {{employee.gender}}</mat-list-item>
        <mat-list-item>Birth date: {{employee.birthDate | date: 'dd.MM.yyyy'}}</mat-list-item>
        <mat-list-item>Hire date: {{employee.hireDate | date: 'dd.MM.yyyy'}}</mat-list-item>
        <mat-list-item>Employee number: {{employee.employeeNumber}}</mat-list-item>
    </mat-list>
    <div fxLayout="row">
        <span>Salaries:</span>
        <span fxFlex></span>
        <a mat-button [routerLink]="'/'">Back</a>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let salary">{{salary.employeeNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef>Salary ($)</th>
            <td mat-cell *matCellDef="let salary">{{salary.salary}}$</td>
        </ng-container>

        <ng-container matColumnDef="fromDate">
            <th mat-header-cell *matHeaderCellDef>From</th>
            <td mat-cell *matCellDef="let salary">{{salary.fromDate | date: 'dd.MM.yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="toDate">
            <th mat-header-cell *matHeaderCellDef>To</th>
            <td mat-cell *matCellDef="let salary">{{salary.toDate | date: 'dd.MM.yyyy'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
