<div fxFlexOffset="15" fxFlex="70">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let employee">{{employee.employeeNumber}}
                <a fxFlexFill [routerLink]="'./' + employee.employeeNumber" class="mat-row-link"></a>
            </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef>Birth date</th>
            <td mat-cell *matCellDef="let employee">{{employee.birthDate | date: 'dd.MM.yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First name</th>
            <td mat-cell *matCellDef="let employee">{{employee.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last name</th>
            <td mat-cell *matCellDef="let employee">{{employee.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let employee">{{employee.gender}}</td>
        </ng-container>

        <ng-container matColumnDef="hireDate">
            <th mat-header-cell *matHeaderCellDef>Hire date</th>
            <td mat-cell *matCellDef="let employee">{{employee.hireDate | date: 'dd.MM.yyyy'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>